@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital@0;1&family=Poppins:wght@600&family=Work+Sans:wght@300;400;500;800&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-container {
  display: flex;
  height: 55px;
  flex-direction: row;
  background-color: #F55A5A;
  color: white;
  justify-content: center;
  align-items: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;

}

.globe-icon {
  color: white;
  height: 25px;
  width: 25px;
}

.nav-title {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14.46px;
  line-height: 18px;
  padding-left: 5px;
  letter-spacing: -0.05em;
}




